<section class="grid grid-better">
  <div class="grid-container">
    <div class="row first">
      <h2>My life would be better with...</h2>
      <ul>
        <li class="box better">
          <img src="/static/emoji/beer.png"/>
          <p>A drink</p>
        </li>
        <li class="box better">
          <img src="/static/emoji/bowling.png"/>
          <p>Team bonding</p>
        </li>
        <li class="box better">
          <img src="/static/emoji/tada.png"/>
          <p>Some fun</p>
        </li>
      </ul>
    </div>
    <div class="row second">
      <ul>
        <li class="box better">
          <img src="/static/emoji/donut.png"/>
          <p>Free food</p>
        </li>
        <li class="box better">
          <img src="/static/emoji/peace.png"/>
          <p>A day off</p>
        </li>
        <li class="box better">
          <img src="/static/emoji/ear.png"/>
          <p>Someone to talk to</p>
        </li>
      </ul>
    </div>
    <div class="row third">
      <ul>
        <li class="box better">
          <img src="/static/emoji/old_woman.png"/>
          <p>Guidance</p>
        </li>
        <li class="box better">
          <img src="/static/emoji/speech_balloon.png"/>
          <p>Other...</p>
        </li>
      </ul>
    </div>
  </div>
</section>
