<section class="grid grid-because">
  <div class="grid-container positive">
    <div class="row first">
      <h2>I'm <span class="emotion">happy</span> because I'm...</h2>
      <ul>
        <li class="box because">
          <img src="/static/emoji/muscle.png"/>
          <p>Motivated</p>
        </li>
        <li class="box because">
          <img src="/static/emoji/bulb.png"/>
          <p>Inspired</p>
        </li>
        <li class="box because">
          <img src="/static/emoji/100.png"/>
          <p>Killing It</p>
        </li>
      </ul>
    </div>
    <div class="row second">
      <ul>
        <li class="box because">
          <img src="/static/emoji/dancer.png"/>
          <p>Ready for the Weekend</p>
        </li>
        <li class="box because">
          <img src="/static/emoji/raised_hands.png"/>
          <p>Loving Life</p>
        </li>
        <li class="box because">
          <img src="/static/emoji/information_desk_person.png"/>
          <p>Proud</p>
        </li>
      </ul>
    </div>
    <div class="row third">
      <ul>
        <li class="box because">
          <img src="/static/emoji/heart_pulse.png"/>
          <p>Feeling Appreciated</p>
        </li>
        <li class="box because">
          <img src="/static/emoji/fire.png"/>
          <p>Productivity on Fleek</p>
        </li>
        <li class="box because">
          <img src="/static/emoji/speech_balloon.png"/>
          <p>Other</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="grid-container negative" style="display: none;">
    <div class="row first">
      <h2>I'm <span class="emotion">happy</span> because I'm...</h2>
      <ul>
        <li class="box because">
          <img src="/static/emoji/hourglass.png"/>
          <p>Strapped for Time</p>
        </li>
        <li class="box because">
          <img src="/static/emoji/poop.png"/>
          <p>Buried in Work</p>
        </li>
        <li class="box because">
          <img src="/static/emoji/thumbs_down.png"/>
          <p>Underappreciated</p>
        </li>
      </ul>
    </div>
    <div class="row second">
      <ul>
        <li class="box because">
          <img src="/static/emoji/hear_no_evil.png"/>
          <p>Not being heard</p>
        </li>
        <li class="box because">
          <img src="/static/emoji/ok_woman.png"/>
          <p>Dealing with something</p>
        </li>
        <li class="box because">
          <img src="/static/emoji/smirk.png"/>
          <p>Having an issue with a coworker</p>
        </li>
      </ul>
    </div>
    <div class="row third">
      <ul>
        <li class="box because">
          <img src="/static/emoji/confounded.png"/>
          <p>Having an issue with my boss</p>
        </li>
        <li class="box because">
          <img src="/static/emoji/see_no_evil.png"/>
          <p>Anxious</p>
        </li>
        <li class="box because">
          <img src="/static/emoji/speech_balloon.png"/>
          <p>Other...</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="grid-container neutral" style="display: none;">
    <div class="row first">
      <h2>I'm <span class="emotion">happy</span> because I'm...</h2>
      <ul>
        <li class="box because">
          <img src="/static/emoji/zzz.png"/>
          <p>Bored</p>
        </li>
        <li class="box because">
          <img src="/static/emoji/nails.png"/>
          <p>Uninspired</p>
        </li>
        <li class="box because">
          <img src="/static/emoji/ok_hand.png"/>
          <p>All Good</p>
        </li>
      </ul>
    </div>
    <div class="row second">
      <ul>
        <li class="box because">
          <img src="/static/emoji/keep_calm.png"/>
          <p>Keeping calm</p>
        </li>
        <li class="box because">
          <img src="/static/emoji/crystal_ball.png"/>
          <p>Unsure of the future</p>
        </li>
        <li class="box because">
          <img src="/static/emoji/question_mark.png"/>
          <p>Not sure of what just happened</p>
        </li>
      </ul>
    </div>
    <div class="row third">
      <ul>
        <li class="box because">
          <img src="/static/emoji/arrows.png"/>
          <p>Lacking direction</p>
        </li>
        <li class="box because">
          <img src="/static/emoji/confused.png"/>
          <p>Feeling useless</p>
        </li>
        <li class="box because">
          <img src="/static/emoji/speech_balloon.png"/>
          <p>Other...</p>
        </li>
      </ul>
    </div>
  </div>
</section>
