<section class="grid grid-feeling" style="display: none;">
  <div class="grid-container">
    <div class="row first">
      <h2>I feel...</h2>
      <ul>
        <li class="box feeling" data-feeling="positive">
          <img src="/static/emoji/happy.png"/>
          <p>Happy</p>
        </li>
        <li class="box feeling" data-feeling="positive">
          <img src="/static/emoji/content.png"/>
          <p>Content</p>
        </li>
        <li class="box feeling" data-feeling="neutral">
          <img src="/static/emoji/whatever.png"/>
          <p>Whatever</p>
        </li>
      </ul>
    </div>
    <div class="row second">
      <ul>
        <li class="box feeling" data-feeling="negative">
          <img src="/static/emoji/worried.png"/>
          <p>Worried</p>
        </li>
        <li class="box feeling" data-feeling="neutral">
          <img src="/static/emoji/confused.png"/>
          <p>Confused</p>
        </li>
        <li class="box feeling" data-feeling="negative">
          <img src="/static/emoji/frustrated.png"/>
          <p>Frustrated</p>
        </li>
      </ul>
    </div>
    <div class="row third">
      <ul>
        <li class="box feeling" data-feeling="negative">
          <img src="/static/emoji/stressed.png"/>
          <p>Stressed</p>
        </li>
        <li class="box feeling" data-feeling="negative">
          <img src="/static/emoji/overwhelmed.png"/>
          <p>Overwhelmed</p>
        </li>
        <li class="box feeling" data-feeling="negative">
          <img src="/static/emoji/sad.png"/>
          <p>Sad</p>
        </li>
      </ul>
    </div>
  </div>
</section>
