<section class="intro">
  <p>Hi!</p>
  <p>How are you feeling?</p>
  <p>Tell us in 3 easy steps.</p>
  <div class="get-started">
    <img src="/static/emoji/race_flag.png">
    <h4>Get Started</h4>&nbsp;&nbsp;
    <img src="/static/emoji/race_flag.png">
  </div>
  <p class="ps">P.S.: This is absolutely, most-definitely, 100% anonymous.</p>
  <p class="ps">No, really, we promise.</p>
  <p class="ps">If you don't believe us, <a href="#">click here</a>.</p>
</section>
