<section class="mad-libs" style="display: none;">
  <form action="/thanks-4-your-2-cents" method="post">
    <div class="text">
      <span>I feel <em class="feeling highlight"></em></span>
      <input name="feeling" class="feeling" type="hidden">
      <span>because I'm <em class="because highlight"></em></span>
      <input name="because" class="reason" type="hidden">
      <span>My life would be easier if I had <em class="better highlight"></em></span>
      <input name="better" class="better" type="hidden">
    </div>
    <div class="button-row">
      <div class="start-over">Start Over</div>
      <input class="submit" type="submit" value="Submit">
    </div>
  </form>
</section>
