<nav>
  <div class="progress-tracker-container">
    <div class="step-1 circle"></div>
    <div class="step-2 circle"></div>
    <div class="step-3 circle"></div>
    <div class="step-4 circle"></div>
  </div>
</nav>
