<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
  {{>styles}}
</head>
<body>
  <nav></nav>
  <section class="thank-you">
    <p>Thanks for sharing, and remember...</p>
    <img class="bill" src="http://media.giphy.com/media/vCKC987OpQAco/giphy.gif">
  </section>
</body>
</html>
